 footer{
	background-color: #EEC6C6;
}

footer.footer_chart{
/* background-color: #EEC6C6; */
/* width: 100%;  */
margin: 0 auto;
text-align:center;
}
.footer_chart .footer-copuright{
	font-size: 0.9rem;
	color:#545e6f;
	margin: 0.6rem;
}