header.wrap_header{
width: 100%; margin: 0 auto;
background-color: #EEC6C6;
}
section{
width: 960px; margin: 0 auto;
/* padding-bottom: 100px;
padding-top: 100px; */
}
footer{
width: 100%; margin: 0 auto;
background-color: #EEC6C6;
}
/* 차트 가운데 정렬하기 */
.chart_readlist_section{
	width: 960px; margin: 0 auto;
	 text-align: -webkit-center;
}