section{
width: 960px; margin: 0 auto;

/* padding: 10%; */

}
/* .div.login_btn{
	display: right;
}
.join_btn{
text-align:right;
} */

/* .wrap_section{
width: 960px; margin: 0 auto;
}
.login_1{
	text-align: center;
}
.pwd_1{
	text-align: center;
}

.login_btn{
	text-align:center;
} */