<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="chartMapper">


<select id="selectTotalCount" resultType="int">
		select count(*) cnt from chart
	</select>
<select id="selectAllList" resultType="ChartVo">
	select * from chart
</select>

<select id="selectPageList" parameterType="map" resultType="ChartListVo">
select  chart_id, patient_id, ptitle ,pnote, staff_id  from
	(select t1.*, rownum rn from 
		(select chart_id, patient_id, ptitle ,pnote, staff_id
		from chart order by chart_id desc ) t1
	)t2
where rn between #{startRownum} and #{endRownum}
	</select>
<select id="selectPageListRowBounds" resultType="ChartVo">
		select chart_id, patient_id, to_char(sysdate,'yy-mm-dd hh24:mi'),pnote, staff_id
from chart order by chart_id desc
	</select>
	
<select id="selectOne" parameterType="string" resultType="ChartVo">
	SELECT CHART_ID, PATIENT_ID, WRITER ,PNOTE
	FROM CHART WHERE CHART_ID=#{chartId}
</select>

<insert id="insert" parameterType="ChartVo">
	INSERT INTO CHART (CHART_ID,PATIENT_ID,WRITER,PNOTE) 
	VALUES (#{chartId}, #{patienId}, #{writer}, #{pnote})
</insert>

<update id="update" parameterType="ChartVo">
<!-- TODO -->
</update>
<delete id="delete" parameterType="string">
	DELETE FROM CHART WHERE CHART_ID=#{chartId}
</delete>

</mapper>