<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="chartMapper">


<select id="selectTotalCount" resultType="int" parameterType="string">
	select count(*) cnt from chart tc where PATIENT_ID =  #{patientId} 
</select>
<select id="selectPageList" parameterType="map" resultType="ChartListVo">
select * from
(select rownum rn, t1.* from
	(select substr(chart_id, 6) chartdate
	, ptitle
	, (select staff_name from staff where staff_id = tc.staff_id) staff_name
	, chart_id
	, (select patient_name from patient where patient_id = #{patientId} ) patient_name
from chart tc where PATIENT_ID = #{patientId}  order by chart_id desc ) t1 ) t2
where rn between #{startRownum} and #{endRownum}
</select>
<select id="selectPageListRowBounds"  resultType="ChartListVo" parameterType="string">
	select rownum rn, substr(chart_id, 6), ptitle, (select staff_name from staff where staff_id = tc.staff_id), chart_id
from chart tc where PATIENT_ID = #{patientId} order by chart_id desc
</select>

<select id="selectAllList" resultType="ChartVo">
	select * from chart
</select>

<select id="selectOne" parameterType="string" resultType="ChartVo">
	SELECT CHART_ID, PATIENT_ID, WRITER ,P_NOTE
	FROM CHART WHERE CHART_ID=#{chartId}
</select>
<select id="selectRead" parameterType="ChartReadReqVo" resultType="ChartReadVo">
select substr(chart_id, 6) chartdate
	, ptitle, pnote
	, (select staff_name from staff where staff_id = tc.staff_id) staff_name
	, chart_id
	, (select patient_name from patient where patient_id = #{patientId} ) patient_name
from chart tc where PATIENT_ID = #{patientId} and chart_id=#{chartId}
</select>
<insert id="insert" parameterType="ChartVo">
	INSERT INTO CHART (CHART_ID,PATIENT_ID,WRITER,P_NOTE) 
	VALUES (#{chartId}, #{patienId}, #{writer}, #{pnote})
</insert>

<update id="update" parameterType="ChartVo">
<!-- TODO -->
</update>
<delete id="delete" parameterType="string">
	DELETE FROM CHART WHERE CHART_ID=#{chartId}
</delete>

</mapper>