<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="clientMapper">
<select id="selectAllList" resultType="ClientVo">
	select * from client
</select>

<select id="selectLoginOne" parameterType="ClientLoginReqVo" resultType="ClientLoginResVo">
	SELECT CLIENT_ID, CLIENT_EMAIL ,PATIENT_ID
	FROM CLIENT WHERE CLIENT_ID=#{clientId} and CLIENT_PWD=#{clientPwd}
</select>
<select id="selectOneCheckId" parameterType="string" resultType="int">
	SELECT count(*) cnt
	FROM CLIENT WHERE CLIENT_ID=#{clientId}
</select>

<select id="selectOne" parameterType="string" resultType="ClientVo">
	SELECT CLIENT_ID, CLIENT_PWD, CLIENT_EMAIL ,PATIENT_ID
	FROM CLIENT WHERE CHART_ID=#{clientId}
</select>

<insert id="insert" parameterType="ClientVo">
	INSERT INTO CLIENT (CLIENT_ID,CLIENT_PWD,CLIENT_EMAIL,PATIENT_ID) 
	VALUES (#{clientId}, #{clientPwd}, #{clientEmail}, #{patientId})
</insert>

<update id="update" parameterType="ClientVo">
<!-- TODO -->
</update>
<delete id="delete" parameterType="string">
	DELETE FROM CLIENT WHERE CHART_ID=#{clientId}  
</delete>
</mapper>