<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="healthChartMapper">

<select id="selectOneLast" parameterType="string" resultType="HealthChartReadVo">
select * from
(select rownum rn, t1.* from
	(select 
    substr(chart_id, 6) chartdate
	, pulse, weight, BLOOD_PRESSURE, pee, memo
	, (select staff_name from staff where staff_id = tc.staff_id) staff_name
	, chart_id
	, (select patient_name from patient where patient_id = #{patientId} ) patient_name
from health_chart tc where PATIENT_ID = #{patientId} order by chart_id desc ) t1 ) t2
where rn =1
</select>
<select id="selectAllList" resultType="HealthChartVo">
	select * from health_chart
</select>

<select id="selectOne" parameterType="string" resultType="HealthChartVo">
	SELECT CHART_ID, PATIENT_ID, PULSE ,WEIGHT,BLOOD_PRESSURE,PEE,COMMENT,STAFF_ID
	FROM health_chart WHERE CHART_ID=#{chartId}
</select>

<insert id="insert" parameterType="HealthChartVo">
	INSERT INTO health_chart (CHART_ID, PATIENT_ID, PULSE ,WEIGHT,BLOOD_PRESSURE,PEE,COMMENT,STAFF_ID) 
	VALUES (#{chartId}, #{patientId}, #{pulse}, #{weight}, #{bloodPressure}, #{pee}, #{comment}, #{staffId})
</insert>

<update id="update" parameterType="HealthChartVo">
<!-- TODO -->
</update>
<delete id="delete" parameterType="string">
	DELETE FROM health_chart WHERE CHART_ID=#{chartId}
</delete>

</mapper>