<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="healthChartMapper">
<select id="selectAllList" resultType="HealthChartVo">
	select * from health_chart
</select>

<select id="selectOne" parameterType="string" resultType="HealthChartVo">
	SELECT CHART_ID, PATIENT_ID, PULSE ,WEIGHT,BLOOD_PRESSURE,PEE,COMMENT,STAFF_ID
	FROM health_chart WHERE CHART_ID=#{chartId}
</select>

<insert id="insert" parameterType="HealthChartVo">
	INSERT INTO health_chart (CHART_ID, PATIENT_ID, PULSE ,WEIGHT,BLOOD_PRESSURE,PEE,COMMENT,STAFF_ID) 
	VALUES (#{chartId}, #{patientId}, #{pulse}, #{weight}, #{bloodPressure}, #{pee}, #{comment}, #{staffId})
</insert>

<update id="update" parameterType="HealthChartVo">
<!-- TODO -->
</update>
<delete id="delete" parameterType="string">
	DELETE FROM health_chart WHERE CHART_ID=#{chartId}
</delete>

</mapper>